{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Água Segura</title>
</head>

<body>

    <nav>

        <a href="{% url 'home' %}" class="btn-login">Home</a>

        <a href="#" class="btn-login">Sobre</a>

        <a href="#" class="btn-login">Entrar</a>

    </nav>

</header>

<main>

    {% block content %}

    {% endblock %}

</main>

<footer>

    <p>Água Segura © 2026</p>
    <p>Projeto acadêmico desenvolvido em Django.</p>
    <p>Desenvolvido por Rafael Noschang Buzzo</p>

</footer>

</body>

</html>